@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}
.title-hero,
h1 {
  font-family: "Montserrat", serif;
  font-size: 2.5em;
}
h2,
h3,
h4,
h5,
p,
a,
small,
nav,
form {
  font-family: "Roboto", serif;
  font-size: 1.5em;
}
p,
a,
nav,
small,
form {
  font-size: 1em;
}
.tutos span {
  font-family: "Roboto", serif;
  font-size: 1.5em;
}
.tutos hr {
  width: 30%;
  height: 3px;
  border: none;
  background-color: #e10098;
  margin: 10px 0px;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  height: 70px;
  color: #fff;
  background-color: rgba(51, 5, 141, 0.7);
  z-index: 999;
}
header a {
  color: #fff;
  text-decoration: none;
}
h1 {
  width: 30%;
  font-size: 1.5em;
  font-weight: normal;
}
nav {
  width: 70%;
  display: flex;
  justify-content: end;
}
nav ul {
  display: flex;
  gap: 25px;
}
ul {
  list-style: none;
}

section.hero-banner {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  width: 100%;
  background-image: url("../img/hero-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
}
div.overlay {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(90deg, #33058d40 0%, #e1009840 70%);
}
.content-hero {
  z-index: 99;
  width: 70%;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.content-hero span {
  color: #e10098;
}
button.pink-btn {
  align-self: flex-end;
  padding: 15px 25px;
  background: #e10098;
  border: none;
  border-radius: 5px;
  color: #fff;
}

section.tutos {
  display: flex;
  margin: 10px 0;
  padding: 0 25px;
}
div.filters {
  width: 20%;
}
form#filters-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
div.list-tutos {
  width: 80%;
}
.list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
article {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  height: 40vh;
  border-radius: 5px;
  background-color: #fff;
}
article .head-img {
  height: 40%;
  width: 100%;
}
article .head-img img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: 100%;
  object-fit: cover;
}
article .content {
  padding: 10px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
article .content a {
  color: #e10098;
  align-self: flex-end;
  text-decoration: none;
}

footer {
  color: #fff;
  background-color: #33058d;
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 25px;
}
form#contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-left,
.footer-right {
  width: 35%;
}
.form-group {
  width: 45%;
}
.form-control {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.form-full-width {
  width: 100%;
}
.form-control input,
.form-control textarea {
  padding: 10px;
  height: 35px;
  border-radius: 5px;
}
.form-control textarea {
  height: 100%;
}
